@font-face {
  font-family: "Nirmala UI";
  src: url("/fonts/Nirmala.ttf") format("ttf");
}

@import "buttons.scss";
@import "section-style.scss";
@import "slider.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Nirmala UI";
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #222533;
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  p {
    font-size: 32px;
    text-align: center;
  }
}

.step {
  display: none;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
  }
}
